<html>
    <head>
        <title>Plots.jl</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
            <div id="22b3e3c0-edef-430e-88ba-be36ceebf3ce" style="width:600px;height:400px;"></div>
    <script>
    PLOT = document.getElementById('22b3e3c0-edef-430e-88ba-be36ceebf3ce');
    jsonUrl = 'https://raw.githubusercontent.com/axsk/blossom/master/plot.json'
    Plotly.d3.json(jsonUrl, function(err, fig) {
    // assuming json is formatted as { "data": [/* */], "layout": {/* */} }

        Plotly.plot(PLOT, fig.data, fig.layout);
    });
    </script>

    </body>
</html>
